@page "/"
@namespace Pamaxie.Website.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--SEO and minior theming-->
    <meta name="theme-color" content="#313131" />
    <meta name="charset" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="This is the managment Interface for Pamaxie allowing you to customize and manage your users easily through our webinterface" />
    <meta name="author" content="Lukas Duerr" />
    <title name="WebTitle">Pamaxie - Web Management Interface</title>
    <base href="~/" />

    <!--Font-->
    <link name="font" href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet" />

    <!--Stylesheets-->
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link name="stylesheet" href="~/css/pamaxie.css" rel="stylesheet" />

    <!--Mublazor Styling-->
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    @*<div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>*@
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
